.container {
  display:flex;
  align-items: center;

  justify-content: space-between;
}

.title{
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  color:black;
}
.card{
  width: 45%;
  margin-left: 20%;
  display: flex;
  text-align: center;
  border-radius: 10px;
 margin-top:60px;
 height: 100px;
}
.hmico{
 color :#0040ff;

   font-size: 30px;

}
.hmico:hover{
  color:#5aa9e6;
}

