
h1{
  font-family: comic sans ms;
  
  
  text-align: center;
}
h2{
  font-family: comic sans ms;
 
 
  text-align: center;
}
.container{
  color: white;
  padding: 15px;
  background-color: #2E4C6D;
  border-bottom-left-radius:150px ;
  border-bottom-right-radius:150px ;
  margin-bottom: 50px;
}