ion-content{
  --ion-background-color:linear-gradient(90deg, #7590D6 0%, #0040ff 100%);
}
button{
  width: 30%;
  padding: 20px;
  margin-left:35%;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  background-color: #3282b8;
}
