 <app-nav ></app-nav>

<ion-content class="content">

  
  

 <form [formGroup]="authForm" >
 

  

  <p>Depart</p>
  <ion-select   class="inpt sma" placeholder="Choisissez votre depart"   >
    <ion-select-option value="sahloul">Sahloul</ion-select-option>
    <ion-select-option value="epi">EPI</ion-select-option>
    <ion-select-option value="hay riadh">Hay Riadh</ion-select-option>
  </ion-select>

  <p>Arrivée</p>
  <ion-select   class="inpt sma" placeholder="Choisissez votre destination"   >
    <ion-select-option value="sahloul">Sahloul</ion-select-option>
    <ion-select-option value="epi">EPI</ion-select-option>
    <ion-select-option value="hay riadh">Hay Riadh</ion-select-option>
  </ion-select>




  <p> Date et heure</p>
  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-item class="inpt sma">
          <ion-datetime value="" placeholder="Date"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item class="inpt sma">
          <ion-datetime placeholder="Heure" display-format="h:mm A" picker-format="h:mm A" value=""></ion-datetime>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
  
  <p>Nombre de places</p>
  <ion-item class="inpt sma">
    <ion-input placeholder="" type="number"></ion-input>
  </ion-item>

  <ion-item-divider></ion-item-divider>
  <p>Description</p>
  <div class="container">
    <input  placeholder="Description " class="inpt1"  ngDefaultControl>
    </div>

  

 
  
    
   

  </form>

  <ion-button class="btn"  (click)="onClick()"> Partager</ion-button>


</ion-content>
