p{
  margin-top: 70px;
  color: #181D31;
  margin-left : 15%;
  font-size: 20px;
}
ion-input{
  margin-top:20px ;
  background:white;
  width: 80%;
  margin-left:10%;
  border:solid 1px white;
  border-radius: 60px;
height: 50px;
}
ion-icon {
  color : #396EB0;
  font-size: 30px;
  margin-left: 10px;
}

