ion-content{
  --ion-background-color:white;
}
button{
  width: 30%;
  padding: 20px;
  margin-left:35%;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  
  background-color: #3282b8;
}
.errors{
  display:flex;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
  margin-top: 30px ;
  color:#D2D2F8;
  margin-left: 10%;
}
ion-card{
  
  background-color: #DADDFC;
  width: 90%;
  border-radius: 20px;
  margin-left: 25px;

  padding: 10px;
}
